<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - IMS</title>

    <environment include="Development">
        @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />*@
        <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

        <link rel="stylesheet" href="~/vendors/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="~/vendors/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="~/vendors/themify-icons/css/themify-icons.css">
        <link rel="stylesheet" href="~/vendors/flag-icon-css/css/flag-icon.min.css">
        <link rel="stylesheet" href="~/vendors/selectFX/css/cs-skin-elastic.css">
        <link rel="stylesheet" href="~/vendors/jqvmap/dist/jqvmap.min.css">


        <link rel="stylesheet" href="~/assets/css/style.css">

        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

        @*Error 404*@
        <link href="https://fonts.googleapis.com/css?family=Kanit:200" rel="stylesheet">

        <!-- Font Awesome Icon -->
        <link type="text/css" rel="stylesheet" href="~/error/css/font-awesome.min.css" />

        <!-- Custom stlylesheet -->
        <link type="text/css" rel="stylesheet" href="~/error/css/style.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
       
    </environment>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body onload="startTime()" style="padding-top:0px; padding-bottom:0px">
    @*<nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">IMS</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav" style=" width: 95%">
                        @if (@ViewBag.StaffRole == "Admin")
                        {
                            <li><a asp-area="" asp-controller="Staffs" asp-action="Index">Staff</a></li>
                        }
                        @if (@ViewBag.StaffRole == "Admin" || @ViewBag.StaffRole == "Expert")
                        {
                            <li><a asp-area="" asp-controller="Incidents" asp-action="Index">Incident</a></li>
                        }

                        <li style="float:right"><a asp-area="" asp-controller="Logins" asp-action="Logout">Log out</a></li>
                        <li style="float:right"><a asp-route-id="@ViewBag.StaffID" asp-controller="Staffs" asp-action="Edit" style=" ">Welcome:&nbsp;@ViewBag.StaffRole &nbsp;@ViewBag.StaffName </a></li>

                    </ul>
                </div>
            </div>
        </nav>*@
    <!-- Left Panel -->

    <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">

            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand grow">I M S</a>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand hidden grow">I</a>
            </div>

            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active grow">
                        <a asp-area="" asp-controller="Home" asp-action="Index"> <i class="menu-icon fa fa-dashboard"></i>Dashboard </a>
                    </li>
                    <h3 class="menu-title">Features</h3><!-- /.menu-title -->
                    @if (@ViewBag.StaffRole == "Admin")
                    {
                        <li class="menu-item-has-children dropdown grow">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-group"></i>Staffs</a>
                            <ul class="sub-menu children dropdown-menu">
                                <li><i class="fa fa-book"></i><a asp-area="" asp-controller="Staffs" asp-action="Index">Index</a></li>
                                <li><i class="fa fa-plus"></i><a asp-area="" asp-controller="Staffs" asp-action="Create">Add</a></li>
                            </ul>
                        </li>
                    }
                    @if (@ViewBag.StaffRole == "Admin" || @ViewBag.StaffRole == "Expert")
                    {
                        <li class="menu-item-has-children dropdown grow">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa  fa-exclamation-circle"></i>Incidents</a>
                            <ul class="sub-menu children dropdown-menu">
                                <li><i class="fa fa-book"></i><a asp-area="" asp-controller="Incidents" asp-action="Index">Index</a></li>
                                <li><i class="fa fa-plus"></i><a asp-area="" asp-controller="Incidents" asp-action="Create">Add</a></li>
                            </ul>
                        </li>
                    }
                    @if (@ViewBag.StaffRole == "Admin" || @ViewBag.StaffRole == "Expert")
                    {

                        <li class="menu-item-has-children dropdown grow">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa  fa-tasks"></i>Tasks</a>
                            <ul class="sub-menu children dropdown-menu">
                                <li><i class="fa fa-book"></i><a asp-controller="IncidentTasks" asp-action="Index">Index</a></li>
                                <li><i class="ti-hand-drag"></i><a asp-controller="IncidentTasks" asp-action="OnHand">On Hand</a></li>
                                <li><i class="fa fa-check-square"></i><a asp-controller="IncidentTasks" asp-action="TaskCompleted">Solved</a></li>
                            </ul>
                        </li>
                    }
                    @if (@ViewBag.StaffRole == "Admin" || @ViewBag.StaffRole == "Expert")
                    {

                        <li class="menu-item-has-children dropdown grow">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa  fa-bar-chart-o"></i>Reports</a>
                            <ul class="sub-menu children dropdown-menu">
                                <li><i class="fa fa-book"></i><a asp-controller="IncidentTasks" asp-action="Reports">7Days Report Overview</a></li>
                                <li><i class="fa fa-book"></i><a asp-controller="IncidentTasks" asp-action="ReportDetail">Annual Report Overview</a></li>
                            </ul>
                        </li>
                    }
                    <li class="menu-item-has-children dropdown grow">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa  fa-user"></i>Profile</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="fa fa-book"></i><a asp-route-id="@ViewBag.StaffID" asp-controller="Staffs" asp-action="Details">Detail</a></li>
                            <li><i class="fa fa-edit"></i><a asp-route-id="@ViewBag.StaffID" asp-controller="Staffs" asp-action="Edit">Edit</a></li>
                        </ul>
                    </li>
                    @if (@ViewBag.StaffRole == "Staff")
                    {
                        <li class="menu-item-has-children dropdown grow">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa  fa-tasks"></i>Escalate Incident</a>
                            <ul class="sub-menu children dropdown-menu">
                                <li><i class="fa fa-share-square"></i><a asp-controller="IncidentTasks" asp-action="SelfEscalate">Escalate Manually</a></li>
                                <li><i class="fa fa-check-square"></i><a asp-controller="IncidentTasks" asp-action="Escalation">Escalated Incident</a></li>
                            </ul>
                        </li>
                    }
                    <li>
                        <a href="" style="cursor: text;  position: fixed; pointer-events: none;bottom: 0px;" disabled> <i class=" menu-icon fa  fa-copyright"></i> 2019 - IMS </a>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </aside><!-- /#left-panel -->
    <!-- Left Panel -->
    <!-- Right Panel -->

    <div id="right-panel" class="right-panel">

        <!-- Header-->
        <header id="header" class="header">

            <div class="header-menu">

                <div class="col-sm-7">
                    <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
                    <div class="header-left">
                        <button class="search-trigger"><i class="fa fa-search"></i></button>
                        <div class="form-inline">
                            <form class="search-form">
                                <input class="form-control mr-sm-2" type="text" placeholder="Search ..." aria-label="Search">
                                <button class="search-close" type="submit"><i class="fa fa-close"></i></button>
                            </form>
                        </div>

                        <div class="dropdown for-notification">

                            <button class="btn btn-secondary dropdown-toggle" type="button" id="notification" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-bell"></i>
                                <span class="count bg-danger">@ViewBag.TaskPending</span>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="notification">
                                <p class="red">You have 3 Notification</p>
                                            <a class="dropdown-item media bg-flat-color-1" href="#">
                                                <i class="fa fa-check"></i>
                                                <p>Server #1 overloaded.</p>
                                            </a>
                                            <a class="dropdown-item media bg-flat-color-4" href="#">
                                                <i class="fa fa-info"></i>
                                                <p>Server #2 overloaded.</p>
                                            </a>
                                            <a class="dropdown-item media bg-flat-color-5" href="#">
                                                <i class="fa fa-warning"></i>
                                                <p>Server #3 overloaded.</p>
                                            </a>
                                </div>
                        </div>

                        <div class="dropdown for-message">
                            <button class="btn btn-secondary dropdown-toggle" type="button"
                                    id="message"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="ti-email"></i>
                                <span class="count bg-primary">9</span>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="message">
                                <p class="red">You have 4 Mails</p>
                                <a class="dropdown-item media bg-flat-color-1" href="#">
                                    <span class="photo media-left"><img alt="avatar" src="images/avatar/1.jpg"></span>
                                    <span class="message media-body">
                                        <span class="name float-left">Jonathan Smith</span>
                                        <span class="time float-right">Just now</span>
                                        <p>Hello, this is an example msg</p>
                                    </span>
                                </a>
                                <a class="dropdown-item media bg-flat-color-4" href="#">
                                    <span class="photo media-left"><img alt="avatar" src="images/avatar/2.jpg"></span>
                                    <span class="message media-body">
                                        <span class="name float-left">Jack Sanders</span>
                                        <span class="time float-right">5 minutes ago</span>
                                        <p>Lorem ipsum dolor sit amet, consectetur</p>
                                    </span>
                                </a>
                                <a class="dropdown-item media bg-flat-color-5" href="#">
                                    <span class="photo media-left"><img alt="avatar" src="images/avatar/3.jpg"></span>
                                    <span class="message media-body">
                                        <span class="name float-left">Cheryl Wheeler</span>
                                        <span class="time float-right">10 minutes ago</span>
                                        <p>Hello, this is an example msg</p>
                                    </span>
                                </a>
                                <a class="dropdown-item media bg-flat-color-3" href="#">
                                    <span class="photo media-left"><img alt="avatar" src="images/avatar/4.jpg"></span>
                                    <span class="message media-body">
                                        <span class="name float-left">Rachel Santos</span>
                                        <span class="time float-right">15 minutes ago</span>
                                        <p>Lorem ipsum dolor sit amet, consectetur</p>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-5">
                    <div class="user-area dropdown float-right">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Welcome :&nbsp;@ViewBag.StaffRole&nbsp;@ViewBag.StaffName
                        </a>

                        <div class="user-menu dropdown-menu">
                            <a asp-route-id="@ViewBag.StaffID" asp-controller="Staffs" asp-action="Details" class="nav-link"><i class="fa fa-user"></i> My Profile</a>

                            @*<a class="nav-link" href="#"><i class="fa fa-user"></i> Notifications <span class="count">13</span></a>

                            <a class="nav-link" href="#"><i class="fa fa-cog"></i> Settings</a>*@

                            <a asp-area="" asp-controller="Logins" asp-action="Logout" class="nav-link"><i class="fa fa-power-off"></i> Logout</a>
                        </div>
                    </div>


                </div>
            </div>

        </header><!-- /header -->
        <!-- Header-->

        <div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>@ViewData["Title"]</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li class="active">@ViewData["Title"]</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="container body-content">
            @RenderBody()
        </div> <!-- .content -->
    </div><!-- /#right-panel -->
    <!-- Right Panel -->
    
    <partial name="_CookieConsentPartial" />





    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


        <script src="~/vendors/jquery/dist/jquery.min.js"></script>
        <script src="~/vendors/popper.js/dist/umd/popper.min.js"></script>
        <script src="~/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="~/assets/js/main.js"></script>


        <script src="~/vendors/chart.js/dist/Chart.bundle.min.js"></script>
        <script src="~/assets/js/dashboard.js"></script>
        <script src="~/assets/js/widgets.js"></script>
        <script src="~/vendors/jqvmap/dist/jquery.vmap.min.js"></script>
        <script src="~/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
        <script src="~/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>

        <script src="~/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
        <script src="~/vendors/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
        <script src="~/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
        <script src="~/vendors/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
        <script src="~/vendors/jszip/dist/jszip.min.js"></script>
        <script src="~/vendors/pdfmake/build/pdfmake.min.js"></script>
        <script src="~/vendors/pdfmake/build/vfs_fonts.js"></script>
        <script src="~/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
        <script src="~/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
        <script src="~/vendors/datatables.net-buttons/js/buttons.colVis.min.js"></script>
        <script src="~/assets/js/init-scripts/data-table/datatables-init.js"></script>

    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>