@model IEnumerable<IMS.Models.Incident>

@{
    ViewData["Title"] = "Index";
}

<h2>Incident</h2>


<form>
    <input class="IMS_searchBar" style="width:100%" type="text" name="searchString" id="search" placeholder="Search by Incident Name / Category" />
    @ViewBag.Testbobo
    <br />
    <br />
    <div class="IMS_DropDown col-md-6">Incident Category: @Html.DropDownList("CType", "Select a Value")</div>
    <div class="IMS_DropDown col-md-3" style="text-align:right; float:right">
        <input class="btn btn-primary" type="submit" value="Search" />
        <button class="btn btn-success" asp-action="Create"><i class="fa fa-plus-square"></i></button>
    </div>

</form>
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Iname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Count)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Iname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Count)
                </td>
                <td>
                    <a class="btn btn-warning" style="color:white" asp-action="Edit" asp-route-id="@item.ID"><i class="fa fa-edit"></i></a>
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.ID"><i class="fa fa-eye"></i></a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.ID"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    $(document).ready(function () {
        $("#search").click(function () {
            if ($(this).attr('placeholder').val() == 'Search by Incident Name / Category') {
                $(this).val("")
            }
        });
    });
</script>