@model IEnumerable<IMS.Models.Staff>

@{
    ViewData["Title"] = "Index";
}

<h2>Staff</h2>
<hr />


@if (@ViewBag.StaffRole == "Admin")
{

    <form>
        <div class="IMS_DropDown col-md-3">Role: @Html.DropDownList("RType", "Select a Value")</div>
        <div class="IMS_DropDown col-md-3">Department: @Html.DropDownList("DType", "Select a Value")</div>
        <div class="IMS_DropDown col-md-3">Status: @Html.DropDownList("SType", "Select a Value")</div>
        <div class="IMS_DropDown col-md-3" style="text-align:right">
            <input class="btn btn-primary" type="submit" value="Search" />
            <button class="btn btn-success" asp-action="Create"><i class="fa fa-plus-square"></i></button>
        </div>

    </form>

    <div class="col-md-12 animated fadeIn">
        <div class="card">
            <div class="card-body">
                <table id="bootstrap-data-table-export" class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.MobileNo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Email)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Role)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Department)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Status)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Sname)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MobileNo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Role)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Department)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Status)
                                </td>
                                <td>
                                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.ID" style="color:white"><i class="fa fa-edit"></i></a>
                                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.ID"><i class="fa fa-eye"></i></a>
                                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.ID"><i class="fa fa-trash"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
}
else
{

    {
        Html.RenderPartial("_Error404");
    }
}
<script>
    $(document).ready(function () {
        $("#search").click(function () {
            if ($(this).val() == 'Search by Name / IC / Mobile-No / Username ') {
                $(this).val("")
            }
        });
    });
</script>

